@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

.desktop-hidden {
  @media (min-width: $desktop) {
    display: none;
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

@mixin number($num) {
  &:after {
    content: "— №"+$num+" —";
    display: block;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    padding-top: 12px;
    padding-bottom: 15px;
  }
}

@mixin backgroundWithText($txturl) {
  background-image: $triangle-m, $txturl, url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-x: center, center, center;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: $triangle-m, $txturl, url(" ../img/bg-back-mobile@2x.jpg");
  }
  @media (min-width: $tablet) {
    background-image: $triangle-t, $txturl, url("../img/bg-back-tablet@1x.jpg");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: $triangle-t, $txturl, url(" ../img/bg-back-tablet@2x.jpg");
    }
  }
  @media (min-width: $desktop) {
    background-image: $triangle-d, $txturl, url("../img/bg-back-desktop@1x.jpg");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: $triangle-d, $txturl, url(" ../img/bg-back-desktop@2x.jpg");
    }
  }
}
