.page-intro {
  &__image {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
  }

  &--main &__image {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, contain, cover;
    background-position-y: bottom, center, center;
    height: 390px;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
  }

  &__text {
    line-height: 26px;
  }
}
