$tablet: 768px;
$desktop: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$triangle-d: url("../img/bg-intro-triangle-desktop.svg");
$triangle-t: url("../img/bg-intro-triangle-tablet.svg");
$triangle-m: url("../img/bg-intro-triangle-mobile.svg");
$text-sedona: url("../img/text-sedona.svg");
$text-sedona-index: url("../img/text-sedona-index.svg");

