.copyright {
  $block: &;

  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 1.8;
  color: #000000;
  justify-content: center;
  align-items: center;
  padding: 0;

  @media (min-width: $desktop) {
    justify-content: flex-end;
    padding-right: 44px;
  }

  &__link {
    font-size: 0;
    width: 27px;
    height: 34px;
    background-color: #ffffff;
    margin-left: 12px;

    &:hover {
      #{$block}__icon {
       fill: #81b3d2;
      }
    }

    &:active {
      #{$block}__icon {
       fill: #b2b2b2;
      }
    }
  }

  &__text {
    margin: 0;
  }
}
