.features {
  $block: &;

  &__item {
    text-align: center;

    &--blue {
      background-color: #81b3d2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      #{$block}__title {
        color: #ffffff;
      }

      #{$block}__text {
        color: #ffffff;
      }
    }

    &--grey {
      background-color: #eeeeee;
    }
  }

  &__container {
    width: 280px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 256px;
      flex-direction: row;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
  }
}
