.features-item {
  &:first-child .features-item__title {
    @include number(1)
  }

  &:nth-child(2) .features-item__title {
    @include number(2)
  }

  &:nth-child(3) .features-item__title {
    @include number(3)
  }

  &:nth-child(4) .features-item__title {
    @include number(4)
  }

  &:nth-child(5) .features-item__title {
    @include number(5)
  }

  &:nth-child(3) {
    padding: 25px 20px;
  }

  &:nth-child(4) {
    padding: 28px 20px;
  }

  &:last-child {
    padding: 25px 20px;
  }

  &:nth-child(3),
  &:nth-child(4),
  &:last-child {
    @media (min-width: $tablet) {
      padding: 46px 48px;
    }
  }

  &:nth-child(3),
  &:nth-child(4),
  &:last-child {
    @media (min-width: $tablet) {
      padding-bottom: 88px;
    }
  }

  &--blue {
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    & > picture {
      @media (min-width: $tablet) {
        flex-grow: 1;
        height: 256px;
      }
    }
  }

  &--grey {
    background-color: #eeeeee;   
    border-bottom: 1px solid #d6d6d6;
    width: 100%;

    &:last-child {
      border: none;
    }

    @media (min-width: $tablet) {
      flex-direction: row;
      width: 33%;
      flex-grow: 1;
    }
  }

  &--reversed {
    @media (min-width: $tablet) {
      flex-direction: row-reverse;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;

    @media (min-width: $tablet) {
      font-size: 21px;
      line-height: 1.2;
      padding-bottom: 6px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    height: 192px;

    @media (min-width: $tablet) {
      width: 256px;
      padding: 13px 30px;
    }

    @media (min-width: $desktop) {
      width: 400px;
      padding: 20px 60px;
    }
  }

  &__image {
    width: 100%;

    @media (min-width: $tablet) {
      flex-grow: 1;
    }
  }
}
