.features {
  $block: &;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: #81b3d2;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    background-position-x: center;
  }

  &__item {
    text-align: center;

    &--blue {
      background-color: #81b3d2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: $tablet) {
        flex-direction: row;
      }

      #{$block}__title {
        color: #ffffff;
        width: 278px;
      }

      #{$block}__text {
        color: #ffffff;
        width: 278px;
      }
    }

    &--grey {
      background-color: #eeeeee;
    }
  }

  &__container {
    width: 280px;
    margin: 0 auto;

    @media (min-width: $tablet) {
      width: 256px;
      flex-direction: row;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
  }
}
