.page-intro {
  text-align: center;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 158px;
    background-color: #6a9fc9;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position-y: bottom, bottom;
    background-position-x: center, center;
  }

  &--main:before {
    content: "";
    display: block;
    width: 100%;
    height: 390px;
    background-color: #6a9fc9;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position-y: bottom, bottom;
    background-position-x: center, center;

    @media (min-width: 768px) {
      height: 518px;
    }
  }

  &--main:after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: #81b3d2;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    background-position-x: center;
  }

  &__container {
    width: 280px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 540px;
    }
  }

  &__image {
    @media (min-width: 768px) {
      width: 512px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      font-size: 21px;
      line-height: 1.2;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 30px;
  }
}

  /*&__image {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
  }

  &--main &__image {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, contain, cover;
    background-position-y: bottom, center, center;
    height: 390px;
  }


}
*/
