.page-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > * {
    width: 278px;

    @media (min-width: $tablet) {
      width: 540px;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 158px;
    background-color: #6a9fc9;
    background-size: cover, 229px, auto;

    @include backgroundWithText($text-sedona);

    @media (min-width: $tablet) {
      height: 290px;
      background-size: 100%, 458px, cover;
    }

    @media (min-width: $desktop) {
      height: 300px;
    }
  }

  &--main:before {
    content: "";
    display: block;
    width: 100%;
    height: 390px;
    background-color: #6a9fc9;
    background-size: cover, 282px, cover;

    @include backgroundWithText($text-sedona-index);

    @media (min-width: $tablet) {
      height: 518px;
      background-size: 100%, 460px, cover;
      background-position-y: bottom, 46%, bottom;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
      font-size: 21px;
      line-height: 1.2;
      margin-top: 50px;
    }

    &--photo {
      @media (min-width: $tablet) {
        font-size: 30px;
        line-height: 0.9;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 24px;

    @media (min-width: $tablet) {
      margin-bottom: 51px;
    }
  }
}
