.page-intro {
  background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;

  &--main {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
  }

  &__title {
    font-size: 18px;
    line-height: 1.4em;
    color: #000000;
    font-weight: bold;
  }

  &__text {
    font-size: 14px;
    line-height: 1.8em;
  }
}
