.site-menu {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-around;
    align-content: center;
    height: 100%;
  }

  &__item {
    font-size: 18px;
    line-height: 2.2;
    color: #ffffff;
    font-weight: bold;

    &:nth-child(2) {
      @media (min-width: $tablet) {
        margin-right: 100px;

      }
    }

    &:nth-child(3) {
      @media (min-width: $tablet) {
        margin-left: 100px;

      }
    }

    @media (min-width: $tablet) {
      font-size: 14px;
      line-height: 1;
      color: #000000;
      font-weight: bold;
      flex-grow: 1;
      width: 25%;
    }

    &:first-child a {
      border-top: none;
    }

    &:last-child a {
      border-bottom: none;
    }

    a {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      color: #ffffff;
      border-top: 1px solid #9ac2db;
      border-bottom: 1px solid #678fa8;

      @media (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #000000;
        padding: 0;

        border: none;
      }
    }
  }
}
